In [9]:
import boto.ec2
import argparse
import json
from pandas import DataFrame

In [43]:
def get_all_ec2_instances():
    regions = ["ap-northeast-1", "ap-southeast-1", "ap-southeast-2", 
               "eu-central-1", "eu-west-1", "sa-east-1", 
               "us-east-1", "us-west-1", "us-west-2"]
    
    inst_info = {'groups': [],
                 'public_dns_name': [],
                 'private_dns_name': [],
                 'key_name': [],
                 'instance_type': [],
                 'placement': [],
                 }
    
    for region in regions:
        ec2_conn = boto.ec2.connect_to_region(region)
        reservations = ec2_conn.get_all_reservations()
    
    
        for reservation in reservations:
            instances = reservation.instances

            for inst in instances:
                inst_info['public_dns_name'].append(inst.public_dns_name)
                inst_info['private_dns_name'].append(inst.private_dns_name)
                inst_info['key_name'].append(inst.key_name)
                inst_info['instance_type'].append(inst.instance_type)
                inst_info['groups'].append(inst.groups)
                inst_info['placement'].append(inst.placement)            
            
    return inst_info

In [44]:
df = DataFrame(get_all_ec2_instances())

In [50]:
instances_per_type = df[["instance_type", "groups"]].groupby(["instance_type"]).count()
instances_per_type.columns = ["num_instances"]
instances_per_type

               num_instances
instance_type
m3.medium                  7
m4.large                 145
m4.xlarge                 14
t2.large                   4
t2.medium                 17
t2.micro                   9
t2.small                   1

In [46]:
instances_per_key = df[["key_name", "groups"]].groupby(["key_name"]).count()
instances_per_key.columns = ["num_instances"]
instances_per_key

                                  num_instances
key_name
alish                                         4
danb-insight-key                              4
ddrum-virginia                                4
dmou-key-pair                                 8
drhee                                         4
elizabethfongwm_InsightVirginia               4
insight-andy                                  4
insight-cluster                               6
insight-data-dlamblin-master-key              4
insight-hack                                  1
insight-john                                  2
insight-jon                                   4
insight-jyothi.pem                            5
insight-laurag                                4
insight-mae                                   5
insight-nehal                                 4
insight-nii                                   4
insight-parvathy                              4
insight-patrick.pem                           9
insight-rubash                               11
insight-rwalker                               4
insight-sebastien                             4
insight-shaun                                 4
insight-tajinder                              4
insight-yashashree                            7
insight-yun-key                               4
kat                                           5
keira-insight                                 4
kevin-virginia                                4
kqz-insight                                   4
kun-insight-new                               4
pablo-de-ny                                   4
pmoy-insight                                  5
puspal_insight                                4
rocio-ds                                      1
ronak-key                                     9
rwalker                                      11
sebastien-key                                 4
suhas_insight_key                             4
tigran                                        4
zach_oregon                                   4
zach_virginia                                 4

In [47]:
instances_per_region = df[["placement", "groups"]].groupby(["placement"]).count()
instances_per_region.columns = ["num_instances"]
instances_per_region

            num_instances
placement
us-east-1a             61
us-east-1e              1
us-west-1a             13
us-west-1c             42
us-west-2a             64
us-west-2c             16